<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dynamicappicon">

    <uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".MainApplication"
		android:label="@string/app_name"
		android:icon="@mipmap/logored"
		android:allowBackup="false"
		android:theme="@style/AppTheme">
		<activity
    android:name=".MainActivity" />
		<activity-alias
			android:name="com.dynamicappicon.MainActivitylogored"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/logored"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="com.dynamicappicon.MainActivitylogocyan"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/logocyan"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		<activity-alias
			android:name="com.dynamicappicon.MainActivitylogopurple"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/logopurple"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		<activity-alias
			android:name="com.dynamicappicon.MainActivitylogoorange"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/logoorange"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		<activity-alias
			android:name="com.dynamicappicon.MainActivitylogopink"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/logopink"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		<activity-alias
			android:name="com.dynamicappicon.MainActivitylogogray"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/logogray"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
		<activity-alias
			android:name="com.dynamicappicon.MainActivitylogogreen"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/logogreen"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>
	</application>
</manifest>
